@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "vazir";
    src: url("public/fonts/Vazir.eot");
    src: url("public/fonts/Vazir.eot?#iefix") format("embedded-opentype"),
        url("public/fonts/Vazir.woff2") format("woff2"),
        url("public/fonts/Vazir.woff") format("woff"),
        url("public/fonts/Vazir.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "tanha";
    src: url("public/fonts/Tanha.eot");
    src: url("public/fonts/Tanha.eot?#iefix") format("embedded-opentype"),
        url("public/fonts/Tanha.woff2") format("woff2"),
        url("public/fonts/Tanha.woff") format("woff"),
        url("public/fonts/Tanha.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html * {
    font-family: tanha, vazir, tahoma !important;
}

/** spinner classes */
.spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner h4 {
    margin: 5px;
}

/* https://projects.lukehaas.me/css-loaders/ , Loader #3 */
.loader {
    font-size: 10px;
    margin: 10px;
    /* text-indent: -9999em; */
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: #6666ff;
    background: -moz-linear-gradient(left,
            #6666ff 10%,
            rgba(128, 0, 255, 0) 42%);
    background: -webkit-linear-gradient(left,
            #6666ff 10%,
            rgba(128, 0, 255, 0) 42%);
    background: -o-linear-gradient(left,
            #6666ff 10%,
            rgba(128, 0, 255, 0) 42%);
    background: -ms-linear-gradient(left,
            #6666ff 10%,
            rgba(128, 0, 255, 0) 42%);
    background: linear-gradient(to right,
            #6666ff 10%,
            rgba(128, 0, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #6666ff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}